.middle .leftcoll .tit{float:left; width:720px; height:36px; padding-top:11px; padding-left:6px; background:url(../img/bg/tit.jpg) no-repeat; margin-bottom:40px;}

.middle .leftcoll .form div{float:left; width:190px; margin-top:-20px; height:14px; position:absolute; }
.middle .leftcoll .form .lg_bt{border:0px; background:url(../img/login_bt.jpg) no-repeat; width:101px; height:29px; clear:both; position:absolute; margin-top:13px; margin-left:90px; cursor:Pointer;}





